body {
  color: lightgrey;
}
title {
  color: blue;
}
.counter-btn {
  background-color: #0076ff;
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px 100px 100px 100px;
  border: 0 solid #000;
  color: white;
  font-size: 24px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;          
}
.v-c {
 vertical-align: middle !important;
}
.counter-btn:active {
 background-color: #0076ff;
 opacity: .7;
}
.counter-text {
 font-size: 24px;
 vertical-align: middle !important;
}
.clear-counter {
 padding: 1px;
 padding: 1px;
 position: absolute;
 right: 4px;
}
